html
  head(lang='en')
    meta(charset='UTF-8')
    title Service Box Style
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .container
      h1 Service box
      .row
        .col-md-3.col-sm-6
          .service-box
            .service-icon.yellow
              .front-content
                i.fa.fa-trophy
                h3 design
            .service-content
              h3 design
              p
                | No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
        .col-md-3.col-sm-6
          .service-box
            .service-icon.orange
              .front-content
                i.fa.fa-anchor
                h3 php
            .service-content
              h3 php developer
              p
                | No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
        .col-md-3.col-sm-6
          .service-box
            .service-icon.red
              .front-content
                i.fa.fa-trophy
                h3 Ui Developer
            .service-content
              h3 Developer
              p
                | No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
        .col-md-3.col-sm-6
          .service-box
            .service-icon.grey
              .front-content
                i.fa.fa-paper-plane-o
                h3 java script
            .service-content
              h3 java script
              p
                | No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure
