doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title My Profile
        link(rel='stylesheet', href='/static/css/navbar.css')
        link(rel='stylesheet', href='/static/css/profile.css') 
   
    body
        .menu-collapsed
            .bar
            nav
                ul
                    li
                        span
                            a.active(href='#') Home
                    li
                        span
                            a(href='/goals') Goals
                    li
                        span
                            a(href='/reports') Reports
                    li
                        span
                            a(href='/about') About
                    li
                        span
                            a(href='/logout') Log Out    
        .slider
            .items-group
                .item
                    a#activityLink(href='/work')
                        .block
                            span.circleLight
                            .text
                                h2 Work                
                .item
                    a#activityLink(href='/hobby')
                        .block
                            span.circleLight
                            .text
                                h2 Hobby          
                .item
                    a#activityLink(href='/sport')
                        .block
                            span.circleLight
                            .text
                                h2  Sport
                .item
                    a#activityLink(href='/travel')
                        .block
                            span.circleLight
                            .text
                                h2 Travel
                .navigations
                    ul.dots
        script(src="/static/js/jquery-3.1.1.min.js")
        script(src="/static/js/navbar.js")
        script(src="/static/js/profile.js")

