doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Signup Succesful
        link(rel='stylesheet prefetch', href='http://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet', href='/static/css/signup_signout.css')
    body
        h2 You succesfully signed up a new profile!