body {
	text-align: center;
	margin-top: 200px;
}

#timer {
	font-family: "roboto";
	font-size: 100px;
	font-weight: 300;
}

button{
	width: 100px;
	height: 35px;
}

button:hover {
	cursor: pointer;
}